@import "../../outline.scss";

.header {
  background-color: #f3f8fe;
  padding: 18px 0;
  @media (max-width: 720px) {
    padding: 10px 0;
  }
}

.header_container {
  display: grid;
  grid-template-areas:
    "logo nav"
    "slogan slogan"
    "mobileMenu mobileMenu";
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
}

.toggle_icon {
  margin: 8px;
  font-size: 1.7rem;
  grid-area: nav;
  justify-self: end;
}

.mobileMenu {
  grid-area: mobileMenu;
  background-color: #f3f8fe;
  justify-content: center;
  place-self: center;
}

.mobileMenu ul {
  display: block;
  text-align: left;
  padding: 24px 0 0 0;
}

.mobileMenu ul li {
  margin: 0 0 24px 0;
}

.logo {
  display: flex;
  gap: 8px;
  cursor: pointer;

  @include outline-on-focus;
}

.logo_svg {
  width: 40px;
}

.logo_text {
  font-size: 1.8rem;
  font-weight: 700;
  align-self: center;
  text-transform: uppercase;
}

.vertical_line {
  border-left: 3px solid #04182f;
}

.slogan {
  color: #04182f;
  font-size: 0.9rem;
  margin-top: 4px;
}

nav {
  grid-area: nav;
  justify-self: end;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
  margin: 8px 0;
}

nav ul li {
  margin: 0 0 0 12px;
}

.link {
  text-decoration: none !important;
  color: #4a5765 !important;
  font-weight: 700;

  @include outline-on-focus;
}

.active {
  color: #1c589d !important;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 5px !important;
}

