.header {
  background-color: #f3f8fe;
  padding: 18px 0;
}

.header_container {
  display: grid;
  grid-template-areas:
    "logo nav"
    "slogan slogan"
    "mobileMenu mobileMenu";
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
}

.toggle_icon {
  margin: 8px;
  font-size: 1.7rem;
  grid-area: nav;
  justify-self: end;
}

.mobileMenu {
  grid-area: mobileMenu;
  background-color: #f3f8fe;
  justify-content: center;
}

.mobileMenu ol {
  display: block;
  text-align: center;
  padding: 24px 0 0 0;
}

.mobileMenu ol li {
  margin: 0 0 24px 0;
}

.logo {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.logo_svg {
  width: 50px;
  height: 50px;
}

.logo_text {
  font-size: 1.8rem;
  font-weight: 700;
  align-self: center;
}

.vertical_line {
  border-left: 3px solid #04182f;
}

.slogan {
  color: #04182f95;
  font-size: 0.9rem;
  margin-top: 4px;
}

nav {
  grid-area: nav;
  justify-self: end;
}

nav ol {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

nav ol li {
  margin: 0 0 0 12px;
}

.link {
  text-decoration: none !important;
  color: #04182f !important;
  font-weight: 700;
}

.active {
  color: #6aabf7 !important;
  font-weight: 700;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 5px !important;
}
