@import "../../outline.scss";


.row {
  padding: 4px 8px;
  display: grid;
  grid-template-columns: 4fr 1.2fr 2fr 1.8fr;
  @media (max-width: 978px) {
    grid-template-columns: 4fr 1.2fr 2fr 1fr;
  }
}

.link {
  text-decoration: none;
  @include outline-on-focus;
}

.tableData {
  display: -webkit-box;
   -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 4px 8px;
  color: #061d29;
  background-color: #d8ecff;
  border-radius: 4px;
}

.icon {
  margin-right: 8px;
  @media (max-width: 600px) {
    margin: 0;
  }
}
