.form {
  background-color: #f3f8fe;
  padding: 0 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 720px) {
    padding: 0px 0 12px;
  }
}

.flabel {
  position: relative;
  margin-top: 30px;
  margin-inline: auto;

  input {
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: transparent
    }

    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      pointer-events: none;
      position: absolute
    }

    &:focus+label,
    &:not(:placeholder-shown)+label {
      transform: translateY(-90%) scale(.75);
      background-color: #fff;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      padding: .5em;
      left: 0;
      box-shadow: 0 0 5px #ccc
    }
  }

  label {
    position: absolute;
    top: 8px;
    left: .5em;
    color: #000;
    pointer-events: none;
    transform-origin: left center;
    transition: transform .25s
  }
}

.button {
  width: 100%;
  height: 38px;
  background-color: #1c589d;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.loadingButton {
  width: 100%;
  height: 38px;
  background-color: #98a4b2;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: 700;
  cursor: not-allowed;
}

.container {
  background-color: #d0e4fb;
  border-radius: 4px;
  padding: 0 48px 18px 48px;
  max-width: 900px;
  margin: 0 8px;

  @media (max-width: 720px) {
    padding: 0 8px 8px 8px;
    width: 100%;
  }
}

.container>* {
  margin-bottom: 8px;
}

.container h1 {
  text-wrap: balance;
  margin: 12px 0;
  text-align: center;
  font-size: clamp(1.1rem, 3vw, 2rem);

  @media (max-width: 720px) {
    margin: 8px;
  }
}

.search {
  background-color: white;
  min-height: 38px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
}

.icon {
  position: absolute;
}

.spinner {
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}