.form {
  background-color: #f3f8fe;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px) {
    padding: 12px 0;
  }
}

.form button {
  width: 100%;
  height: 38px;
  background-color: #72aef3;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: 700;
}

.container {
  background-color: #d0e4fb;
  border-radius: 4px;
  padding: 0 48px 24px 48px;
  max-width: 900px;
  margin: 0 8px;

  @media (max-width: 720px) {
    padding: 0 8px 8px 8px;
    width: 100%;
  }
}

.container > * {
  margin-bottom: 12px;
}

.container h1 {
  text-wrap: balance;
  margin: 24px 0;
  font-size: clamp(0.9rem, 4vw, 2rem);
}

.search {
  background-color: white;
  min-height: 38px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
}

.search::placeholder {
  color: #04182f70;
}
