.table_container {
  max-width: 1200px;
  margin: 0 auto;
}

.results_head {
  display: flex;
  padding: 4px 16px 0px;
  align-items: center;

  @media (max-width: 550px) {
    display: block;
    padding: 4px 8px 12px 8px;
  }
}

.results_head h2 {
  flex: 2;
  margin: 0 !important;
  @media (max-width: 700px) {
    flex: 1;
  }
}

.results_head form {
  flex: 1;
  @media (max-width: 700px) {
    flex: 1;
  }
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 4fr 1.2fr 2fr 1.8fr;
  margin-bottom: 8px;
  @media (max-width: 978px) {
    grid-template-columns: 4fr 1.2fr 2fr 1fr;
  }
}

.row th {
  font-weight: 400;
  color: #04182f;
}

.row th:nth-child(1) {
  margin-left: 12px;
}

.active {
  font-weight: 700 !important;
}

.chevron {
  margin-left: 4px;
}

.clickable {
  cursor: pointer;
}

.chevronInactive {
  color: #04182f60 !important;
}
