.table_container {
  max-width: 1400px;
  margin: 0 auto;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-bottom: 8px;
}

.row th {
  font-weight: 400;
  color: #04182f;
}

.row th:nth-child(1) {
  margin-left: 12px;
}

.active {
  font-weight: 700 !important;
}

.chevron {
  margin-left: 4px;
}

.clickable {
  cursor: pointer;
}

.chevronInactive {
  color: #04182f60 !important;
}
