.main {
  max-width: 1400px;
  padding: 24px 12px 0 12px;
}

.main > * {
  margin-bottom: 16px;
}

.table {
  display: block;
  padding: 6px 12px 32px 12px;
  background-color: #ecf5ff;
}

.tableNoteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
  }
}

.tableNoteContainer {
  display: grid;
  grid-gap: 12px;
}

.tagsList {
  padding: 0;
}
