@import "../../../outline.scss";


.tag {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #d0e4fb;
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;

  @include outline-on-focus;
}

.tag:hover,
.tag:focus {
  background-color: #1c589d;
  color: white;
}
