:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a:link {
  color: #04182f;
}

a:visited {
  color: #04182f;
}

a:hover {
  color: #04182f;
  text-decoration: underline;
}

a:active {
  color: #004080;
}

td {
  padding: 4px;
}
