.header {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  grid-gap: 12px;
  margin: 0 auto;
  background-color: #f3f8fe;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.logo_container {
  display: flex;
}

.logo_svg {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.logo_text {
  font-size: 2rem;
  font-weight: 700;
}

.searchBar {
}
