.header {
  background-color: #f3f8fe;

  padding: 24px 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.logo_container {
  display: flex;
}

.logo {
  display: block;
}

.logo_svg {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.logo_text {
  font-size: 2rem;
  font-weight: 700;
}

.slogan {
  color: #04182f95;
  font-size: 0.9rem;
}

nav ol {
  list-style-type: none;
  display: flex;
}

nav ol li {
  margin: 0 12px;
}

.link {
  text-decoration: none;
  color: #04182f;
  font-weight: 700;
}

.active {
  color: #04182f;
  font-weight: 700;
  text-decoration-thickness: 3px;
}
